<?xml version="1.0" encoding="UTF-8"?>
<Context path="/BTChuong12_SQLGateway">
    
    <Resource name="jdbc/murach"
              auth="Container"
              type="javax.sql.DataSource"
              
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost:5432/murach"
              
              username="murach"
              password="sesame"
              
              maxActive="100"
              maxIdle="30"
              maxWait="10000"
              removeAbandoned="true"
              removeAbandonedTimeout="60"
              logAbandoned="true"/>
</Context>